@import 'tailwindcss';

@theme inline {
	--color-brown: rgb(101, 67, 33);
}

@layer base {
	main {
		@apply min-h-screen p-4 text-brown;
	}

	section {
		@apply max-w-4xl mx-auto mb-8 bg-white/50 backdrop-blur-sm  rounded-xl;
	}

	h1 {
		@apply text-3xl font-bold mb-5 text-red-800 text-center;
	}

	h2 {
		@apply text-2xl font-bold;
	}

	label {
		@apply block mb-2;
	}

	input {
		@apply w-full p-2 rounded bg-gray-200 border-2  border-brown outline-none;
	}

	span {
		@apply text-blue-800;
	}
}

@layer components {
	.form-btn {
		@apply bg-red-800 hover:bg-red-700 px-6 py-2 rounded-lg w-full text-white font-semibold  transition-colors duration-300 ease-in-out cursor-pointer;
	}

	.delete-btn {
		@apply absolute top-10 right-10 bg-red-700/80 hover:bg-red-600 
		text-white p-2 rounded-lg opacity-0 group-hover:opacity-100 z-50  transition-colors duration-300 ease-in-out cursor-pointer;
	}

	.download-btn {
		@apply mt-6 px-6 py-2 bg-green-800 hover:bg-green-700 text-white font-semibold rounded-lg disabled:opacity-50 disabled:cursor-not-allowed flex items-center gap-2  transition-colors duration-300 ease-in-out cursor-pointer;
	}

	.postcard {
		@apply absolute inset-2.5 max-sm:inset-0.5 overflow-hidden;
	}

	.postcard-outer-frame {
		@apply relative w-full max-w-4xl h-[300px] max-sm:h-[200px] sm:h-[400px] md:h-[500px] lg:h-[600px];
		background: repeating-linear-gradient(
			45deg,
			#c54540,
			#c54540 10px,
			#ffffff 10px,
			#ffffff 20px,
			#37877a 20px,
			#37877a 30px,
			#ffffff 30px,
			#ffffff 40px
		);
	}

	.postcard-stamp-container {
		@apply absolute top-0 right-0 z-10;
	}

	.postcard-bg-image {
		@apply absolute inset-0 bg-cover bg-center bg-no-repeat;
	}

	.postcard-text-container {
		@apply max-w-sm m-10 max-sm:m-4.5 max-sm:max-w-35 bg-white p-10 max-sm:p-3 rounded-sm border-2 border-dashed border-blue-950;
	}

	.postcard-text {
		@apply text-xl md:text-3xl max-sm:text-[10px] font-bold text-blue-800 italic mb-0;
	}

	.postcard-info-container {
		@apply bg-yellow-50 py-3 px-5 max-sm:py-1 max-sm:px-3 rounded-sm border-2 border-green-900 border-dashed absolute right-5 bottom-5 max-sm:right-3 max-sm:bottom-3  max-sm:text-[5px] max-sm:leading-[1.8];
	}
}
