@import 'tailwindcss';

@theme inline {
	--color-brown: rgb(101, 67, 33);
}

@layer base {
	main {
		@apply min-h-screen p-4 text-brown;
	}

	section {
		@apply max-w-4xl mx-auto mb-8 bg-white/50 backdrop-blur-sm  rounded-xl;
	}

	h1 {
		@apply text-3xl font-bold mb-5 text-red-800 text-center;
	}

	h2 {
		@apply text-2xl font-bold;
	}

	label {
		@apply block mb-2;
	}

	input {
		@apply w-full p-2 rounded bg-gray-200 border-2  border-brown;
	}
}

@layer components {
	.form-btn {
		@apply bg-red-800 hover:bg-red-700 px-6 py-2 rounded-lg w-full text-white font-semibold  transition-colors duration-300 ease-in-out cursor-pointer;
	}

	.delete-btn {
		@apply absolute top-10 right-10 bg-red-700/80 hover:bg-red-600 
		text-white p-2 rounded-lg opacity-0 group-hover:opacity-100 z-50  transition-colors duration-300 ease-in-out cursor-pointer;
	}

	.download-btn {
		@apply mt-6 px-6 py-2 bg-green-800 hover:bg-green-700 text-white font-semibold rounded-lg disabled:opacity-50 disabled:cursor-not-allowed flex items-center gap-2  transition-colors duration-300 ease-in-out cursor-pointer;
	}
}
