@import 'tailwindcss';

body {
	background: linear-gradient(
			rgba(170, 170, 170, 0.7),
			rgba(170, 170, 170, 0.7)
		),
		url('/bg.jpg');

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}
